$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$devices: (xs: $xs, sm: $sm, md: $md, lg: $lg, xl: $xl, xxl: $xxl);

$grid-cols: 12;
$gutter: 32px;
$gap: 0;

$generic-h: 56px;
$header-h-desktop: 64px;
